{% extends 'base.html' %}
{% block main %}
<div class = "reveal">
			<div class = "slides">

			  	{% if g.user and tweets %}

			  		{%for tweet in tweets %}
						<section id="{{tweet.id}}">
						  	{{tweet.embed_content.html|safe}}
						</section>

					{% endfor %}

					<section>
						<h3> ~at end~ </h3>
						press next......
					</section>

				{% else %}
					{% if user and not user.is_anonymous %}
					     <section>
					       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
					     </section>
				   	{% else %}
				   		<section>
				  		<h3>w e l c o me</h3>
					  	click <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Here</a> to login to Twitter
					</section>
				   {% endif %}
				  	
				{% endif %}
			</div>
		</div>

{% endblock %}