<!doctype html>
{% load staticfiles %}
<html lang="en">

	<head>
		<meta charset="utf-8">
   		<meta http-equiv="X-UA-Compatible" content="IE=edge">
   		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="http://cosmopol.is/cereal/css/reveal.min.css">
		<link rel="stylesheet" href="{% static "serif.css"%}">
		<link rel="stylesheet" href="{% static "bootstrap.css"%}">

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->

		<title>t w i n d e r</title>

	</head>

	<body>
{%if error %}
problem
{% else %}
  			
		{% if user and not user.is_anonymous %}

		<div class = "reveal">
			<div class = "slides">
				<section>
					test
				</section>
			</div>
		</div>

			{% if le_json %}
	  		<input id="clickMe" type="button" value="clickme" onclick="display();" /> 
			 <div id="tweet"></div>
			 {% endif %}

	  		

		{% else %}

		   	<section>
		  		<h3>w e l c o me</h3>
			  	click <a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}">Here</a> to login to Twitter
			</section>
		{% endif %}


{%endif%}

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="{% static "js/head.min.js" %}"></script>
		<script src="{% static "js/reveal.js" %}"></script>
		<script src="{% static "js/cereal.js" %}" type="text/javascript"></script>
		<script src="{% static "js/keyboard.js" %}"></script>
		<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

		<script type="text/javascript">
		 var tweets_f = $.parseJSON("{{le_json|escapejs}}");

		 display();
		 
		 function display(){

		 	for (i=0;i<tweets_f.length;i++){
		 		var tweets=tweets_f[i].tweets;
		 		for (j=0;j<tweets.length;j++){
		 			var tweet=tweets[j].tweet_id;
		 			streaming(tweet);
		 		}
		 	}
		 }

		function streaming(id){
					$.ajax({
					dataType: "jsonp",
					url: "https://api.twitter.com/1/statuses/oembed.json?id="+id+'&align=center',
					type: 'GET',
						success: function(data) {
							if (data.html){
								$(".slides").append('<section id="'+id+'">'+data.html+'</section>');
							}
						},
					    error: function(XMLHttpRequest, textStatus, errorThrown) { 
					        alert("Status: " + textStatus); alert("Error: " + errorThrown); 
					    },    	
				});
		}

		</script>
	</body>
</html>



